<html>

<head>
    <title>Zedfin Home Page</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
</head>

<body>
    <h1>Welcome to Zedfin!</h1>
    <br><br>

    <nav>[ <a href="/">Home Page</a> | <a href="/Agents">Agents</a> | <a href="/Customers">Customers</a> |
        <a href="/Properties">Properties</a> | <a href="/Listings">Listings</a> |
        <a href="/Transactions">Transactions</a> ]
    </nav>

    <br><br>

    <div class="introduction">
        <p>
            &nbsp; &nbsp;  Zedfin is a small Bay Area Real Estate company we created. Zedfin has 4 agents and has at least 20 housing
            transactions
            a year. Zedfin needs a database driven website to keep track of their agents, properties, customers, and
            transactions.
            Zedfin agents will be able to help their customers sell their property by listing their property on the
            website.
            The
            website allows customers to see the company’s real estate agents and property listings details. There will
            be
            around 100
            customers using this website monthly. This database will enable the Zedfin to list properties quickly for
            customers to
            view. The customers can access basic details about the property like number of rooms, sq ft, and price. The
            customers
            can see which agent is taking care of which property listing and contact them to buy the property. Zedfin
            agents
            can
            record their property transactions on the website after the property has been sold.
        </p>

    </div>

    <br><br><br><br>

    <form id="Reset" action="/" method="POST" style="width: 100%;">
        <div class="tooltip">
        <input class="btn" type="submit" value="Reset Database" name="Reset" id ="reset_button" style="float: right;"/>
        <span class="tooltiptext">Once you press the <i>Reset Database</i> button, it cannot be reversed </span>
        </div>
    </form> <!--reset button-->

    <br><br>

</body>

<footer style='bottom:0; text-align:left;'>
    <p> &copy; 2023 Corie Gulik & Nancy Yang</p>
</footer>

</html>